{% macro shared_expense(account, amount, tags='') %}
    {% set bob_amount = (amount * ratio_bob)|round(2, 'floor') -%}
    {{ account }}                      {{ amount }} €  ; {{tags}}
    assets:bank:commun:bob                       -{{ bob_amount }} €  ; {{ amount }} * {{ ratio_bob }}
    assets:bank:commun:alice                     -{{ (amount - bob_amount)|round(2, 'floor') }} €  ; {{ amount }} - {{ bob_amount }}

{%- endmacro %}

account expenses:commun:courses
account expenses:commun:pharmacie
account expenses:commun:restaurant
account expenses:commun:loisir
account assets:bank:bob
account assets:bank:alice
account assets:bank:commun:bob
account assets:bank:commun:alice
account income:salary:bob
account income:salary:alice

; 2021-12

2021-12-30 Salaire Bob, mois décembre 2021
    assets:bank:bob                           2000,00 €
    income:salary:bob

2021-12-30 Salaire Alice, mois décembre 2021
    assets:bank:alice                         3000,00 €
    income:salary:alice

; Ratio de contribution :
;
{%- set ratio_bob = 2000 / 5000 -%}
{%- set ratio_alice = 3000 / 5000 %}


; 2022-01

2022-01-04 Courses Auchan
{{- shared_expense('expenses:commun:courses', 120.69, 'auchan:') }}

2022-01-05 Courses Biocoop
{{- shared_expense('expenses:commun:courses', 23.20, 'biocoop:') }}

2022-01-05 Courses Picard
{{- shared_expense('expenses:commun:courses', 56.65, 'picard:') }}

2022-01-09 Restaurant crêperie Le Ptit Josslin
{{- shared_expense('expenses:commun:restaurant', 29.00, 'creperie:') }}

2022-01-11 Courses Inter Marché
{{- shared_expense('expenses:commun:courses', 86.15, 'intermarche:') }}

2022-01-14 Courses Inter Marché
{{- shared_expense('expenses:commun:courses', 8.13, 'intermarche:') }}

2022-01-18 Courses Auchan
{{- shared_expense('expenses:commun:courses', 73.87, 'auchan:') }}

2022-01-18 Courses Auchan
{{- shared_expense('expenses:commun:courses', 31.48, 'auchan:') }}

; cutting-off…

; 2023-03

2023-03-25 Restaurant, crêperie, Le Flibustier
{{- shared_expense('expenses:commun:restaurant', 31.48, 'creperie:') }}

2023-03-25 Musée de l'armée
{{- shared_expense('expenses:commun:loisir', 56.00, 'musee:') }}

2023-03-26 Billet Reduc, théatre
{{- shared_expense('expenses:commun:loisir', 91.50, 'theatre:') }}

2023-03-26 Courses Supermarché G20
{{- shared_expense('expenses:commun:courses', 16.05, 'g20:') }}

2023-03-27 Courses Supermarché G20
{{- shared_expense('expenses:commun:courses', 13.37, 'g20:') }}

2023-03-28 Courses Biocoop Montrouge
{{- shared_expense('expenses:commun:courses', 30.92, 'biocoop:') }}
